# PyCity Schools Analysis

- Your analysis here
  
---

In [12]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [71]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District Summary

In [13]:
# Calculate the total number of unique schools
total_schools = len(school_data_complete.school_name.unique())
total_schools

15

In [14]:
# Calculate the total number of students
# student_count = school_data_complete_df["Student ID"].count()
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [15]:
# Calculate the total budget
total_budget = sum(school_data_complete.budget.unique())
total_budget

24649428

In [16]:
# Calculate the average (mean) math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [17]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [18]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [19]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated) 
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100 
passing_reading_percentage

85.80546336482001

In [22]:
#Calculate the overall passing rate of students passing math and reading
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = overall_passing / float(student_count) * 100 
overall_passing_rate

65.17232575950983

In [25]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#define my dictionary first
district_summary = pd.DataFrame(
    {"Total Schools":[total_schools],
     "Total Students":[student_count],
     "Total Budget": [total_budget],
     "Average Math Score":[average_math_score],
     "Average Reading Score":[average_reading_score],
     "% Passing Math": [passing_math_percentage],
     "% Passing Reading":[passing_reading_percentage],
     "% Overall Passing Rate": [overall_passing_rate]}
)    


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [26]:
# Calculate the total student count per school
#per_school_counts = school_data_complete["school_name"].value_counts()
#per_school_counts

In [27]:
# Use the following to calculate the percentage of students by school who passed math and reading
# passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
# ].groupby("school_name").count()
# overall_passing_rate = passing_math_reading_count ["grade"]/ per_school_counts * 100
# overall_passing_rate

## School Summary

In [28]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [29]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [30]:
#Or are they asking for each school's total budget?
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [31]:
# Calculate per capita spending per school
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget
per_school_capita = per_school_budget / per_school_counts 
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [32]:
# Calculate the average test scores per school
average_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_math_score

/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_74192/2026968081.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [33]:
average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_reading_score

/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_74192/328899287.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [34]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"]>=70]
school_students_passing_math = students_passing_math.groupby("school_name").size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [35]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>=70]
school_students_passing_reading = students_passing_reading.groupby("school_name").size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [36]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_reading_and_math = school_data_complete[(school_data_complete["reading_score"]>=70)
& (school_data_complete["math_score"]>=70)]
school_students_passing_reading_and_math = students_passing_reading_and_math.groupby("school_name").size()
school_students_passing_reading_and_math

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [44]:
passing_math_percentage = school_students_passing_math / per_school_counts * 100
passing_reading_percentage = school_students_passing_reading / per_school_counts * 100
overall_passing_percentage = school_students_passing_reading_and_math / per_school_counts * 100

In [45]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame ({
    "School Type" : school_types,
    "Total Students" : per_school_counts,
    "Total School Budget" : per_school_budget,
    "Student Budget" : per_school_capita,
    "Ave Math Score" : average_math_score,
    "Ave Reading Score" : average_reading_score,
    "% Passing Math" : passing_math_percentage,
    "% Passing Reading" : passing_reading_percentage,
    "% Overall Passing" : overall_passing_percentage})
per_school_summary.head()

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [24]:
#DUPLICATE AFTER ERROR MESSAGE
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
#per_school_summary = pd.DataFrame ({
   # "School Type" : school_types,
   # "Total Students" : per_school_counts,
   # "Total School Budget" : total_budget,
   # "Student Budget" : per_school_capita,
   # "Ave Math Score" : average_math_score,
   # "Ave Reading Score" : average_reading_score,
   # "% Passing Math" : passing_math_percentage,
   # "% Passing Reading" : passing_reading_percentage,
   # "% Overall Passing" : overall_passing_rate})
#per_school_summary.head()

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
#per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [53]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [54]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [27]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({
    "ninth_grader_math_scores" : ninth_graders.groupby(["school_name"]).mean()["math_score"] ,
    "tenth_grader_math_scores" : tenth_graders.groupby(["school_name"]).mean()["math_score"],
    "eleventh_grader_math_scores" : eleventh_graders.groupby(["school_name"]).mean()["math_score"], 
    "twelfth_grader_math_scores" : twelfth_graders.groupby(["school_name"]).mean()["math_score"]})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grader_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "ninth_grader_math_scores" : ninth_graders.groupby(["school_name"]).mean()["math_score"] ,
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "tenth_grader_math_scores" : tenth_graders.groupby(["school_name"]).mean()["math_score"],
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "eleventh_grader_math_scores" : eleventh_graders.groupby(["school_name"]).mean()["math_score"],
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/2268602259.py:18: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "twelfth_grader_math_scores" : twelfth_graders.groupby(["school_name"]).mean()["math_score"]})

,ninth_grader_math_scores,tenth_grader_math_scores,eleventh_grader_math_scores,twelfth_grader_math_scores
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade  = pd.DataFrame ({
    "ninth_grader_reading_scores" : ninth_graders.groupby(["school_name"]).mean()["reading_score"] ,
    "tenth_grader_reading_scores" : tenth_graders.groupby(["school_name"]).mean()["reading_score"],
    "eleventh_grader_reading_scores" : eleventh_graders.groupby(["school_name"]).mean()["reading_score"], 
    "twelfth_grader_reading_scores" : twelfth_graders.groupby(["school_name"]).mean()["reading_score"]})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grader_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "ninth_grader_reading_scores" : ninth_graders.groupby(["school_name"]).mean()["reading_score"] ,
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "tenth_grader_reading_scores" : tenth_graders.groupby(["school_name"]).mean()["reading_score"],
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "eleventh_grader_reading_scores" : eleventh_graders.groupby(["school_name"]).mean()["reading_score"],
/var/folders/9f/lxqscb096g922jr1gj3dqbb80000gn/T/ipykernel_52644/3961047059.py:18: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  "twelfth_grader_reading_scores" : twelfth_graders.groupby(["school_name"]).mean()["reading_score"]})

,ninth_grader_reading_scores,tenth_grader_reading_scores,eleventh_grader_reading_scores,twelfth_grader_reading_scores
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

In [55]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

Bailey High School       $585-630
Cabrera High School         <$585
Figueroa High School     $630-645
Ford High School         $630-645
Griffin High School      $585-630
Hernandez High School    $645-680
Holden High School          <$585
Huang High School        $645-680
Johnson High School      $645-680
Pena High School         $585-630
Rodriguez High School    $630-645
Shelton High School      $585-630
Thomas High School       $630-645
Wilson High School          <$585
Wright High School          <$585
Name: Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [63]:
# Create a copy of the school summary since it has the "Per Student Budget" 
per_school_summary = per_school_summary.copy(deep = True)
per_school_summary.copy

<bound method NDFrame.copy of                       School Type  Total Students Total School Budget  \
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                       Student Budget  Ave Math Score  Ave Reading Score  \
Bailey High School              628.0       77.048432          81.033963
Cabrera High School             582.0       83.061895          83.975780
Figueroa High School            639.0       76.711767          81.158020
Ford High School                644.0       77.102592          80.746258
Griffin High School             625.0       83.351499          83.816757
Hernandez High School           652.0       77.289752          80.934412
Holden High School              581.0       83.803279          83.814988
Huang High School               655.0       76.629414          81.182722
Johnson High School             650.0       77.072464          80.966394
Pena High School                609.0       83.839917          84.044699
Rodriguez High School           637.0       76.842711          80.744686
Shelton High School             600.0       83.359455          83.725724
Thomas High School              638.0       83.418349          83.848930
Wilson High School              578.0       83.274201          83.989488
Wright High School              583.0       83.682222          83.955000

                       % Passing Math  % Passing Reading  % Overall Passing
Bailey High School          66.680064          81.933280          54.642283
Cabrera High School         94.133477          97.039828          91.334769
Figueroa High School        65.988471          80.739234          53.204476
Ford High School            68.309602          79.299014          54.289887
Griffin High School         93.392371          97.138965          90.599455
Hernandez High School       66.752967          80.862999          53.527508
Holden High School          92.505855          96.252927          89.227166
Huang High School           65.683922          81.316421          53.513884
Johnson High School         66.057551          81.222432          53.539172
Pena High School            94.594595          95.945946          90.540541
Rodriguez High School       66.366592          80.220055          52.988247
Shelton High School         93.867121          95.854628          89.892107
Thomas High School          93.272171          97.308869          90.948012
Wilson High School          93.867718          96.539641          90.582567
Wright High School          93.333333          96.611111          90.333333  >

In [80]:
# Use `pd.cut` to categorize spending based on the bins.
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Student Budget"], spending_bins, labels = labels)
per_school_summary

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Student Spending,Spending Ranges (Per Student,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,$585-630,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,<$585,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,$630-645,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,$630-645,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,$585-630,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,$645-680,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,<$585,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,$645-680,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,$645-680,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,$585-630,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,$630-645,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,$585-630,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,$630-645,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,<$585,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,<$585,<$585

In [82]:
per_school_summary.drop(columns =["School Student Spending", "Spending Ranges (Per Student"])

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [86]:
per_school_summary

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [87]:
#  Calculate averages for the desired columns. 
spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Ave Math Score"].mean()
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Ave Reading Score"].mean()
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [88]:
spending_math_scores

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Ave Math Score, dtype: float64

In [93]:
# Assemble into DataFrame
spending_summary = pd.DataFrame ({
    "Spending Scores on Math": per_school_summary.groupby(["Spending Ranges (Per Student)"])["Ave Math Score"].mean(),
    "Spending Scores on Reading": per_school_summary.groupby(["Spending Ranges (Per Student)"])["Ave Reading Score"].mean(),
    "Spending Passing Math" : per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean(),
    "Spending Passing Reading" :per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean(),
    "Spending for Overall Passing" : per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

    
})

# Display results
spending_summary

,Spending Scores on Math,Spending Scores on Reading,Spending Passing Math,Spending Passing Reading,Spending for Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [96]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [102]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["Spending by School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels = labels)
per_school_summary

,School Type,Total Students,Total School Budget,Student Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),Spending for Passing,Spending by School Size
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000),Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000),Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000),Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000),Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000),Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000),Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000),Small (<1000)
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000),Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000),Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000),Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000),Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000),Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000),Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000),Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000),Medium (1000-2000)

In [103]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["Total Students"])["Ave Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["Total Students"])["Ave Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["Total Students"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["Total Students"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["Total Students"])["% Overall Passing"].mean()

In [105]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame ({
    "Math Scores by Size" : per_school_summary.groupby(["Total Students"])["Ave Math Score"].mean(),
    "Reading Scores by Size" : per_school_summary.groupby(["Total Students"])["Ave Reading Score"].mean(),
    "Passing Math by Size" : per_school_summary.groupby(["Total Students"])["% Passing Math"].mean(),
    "Passing Reading by Size" : per_school_summary.groupby(["Total Students"])["% Passing Reading"].mean(),
    "Overall Passing by Size" :per_school_summary.groupby(["Total Students"])["% Overall Passing"].mean()
})

# Display results
size_summary

,Math Scores by Size,Reading Scores by Size,Passing Math by Size,Passing Reading by Size,Overall Passing by Size
Total Students,,,,,
427,83.803279,83.814988,92.505855,96.252927,89.227166
962,83.839917,84.044699,94.594595,95.945946,90.540541
1468,83.351499,83.816757,93.392371,97.138965,90.599455
1635,83.418349,83.848930,93.272171,97.308869,90.948012
1761,83.359455,83.725724,93.867121,95.854628,89.892107
1800,83.682222,83.955000,93.333333,96.611111,90.333333
1858,83.061895,83.975780,94.133477,97.039828,91.334769
2283,83.274201,83.989488,93.867718,96.539641,90.582567
2739,77.102592,80.746258,68.309602,79.299014,54.289887
2917,76.629414,81.182722,65.683922,81.316421,53.513884
2949,76.711767,81.158020,65.988471,80.739234,53.204476
3999,76.842711,80.744686,66.366592,80.220055,52.988247
4635,77.289752,80.934412,66.752967,80.862999,53.527508
4761,77.072464,80.966394,66.057551,81.222432,53.539172
4976,77.048432,81.033963,66.680064,81.933280,54.642283

## Scores by School Type

In [107]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Ave Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Ave Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [108]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame ({
    "Ave Math Score by Type" : per_school_summary.groupby(["School Type"])["Ave Math Score"].mean(),
    "Ave Reading by Type" : per_school_summary.groupby(["School Type"])["Ave Reading Score"].mean(),
    "Ave % Passing Math by Type" : per_school_summary.groupby(["School Type"])["% Passing Math"].mean(),
    "Ave % Passing Reading by Type" : per_school_summary.groupby(["School Type"])["% Passing Reading"].mean(),
    "Ave % Overall Passing by Type" : per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()
})

# Display results
type_summary

,Ave Math Score by Type,Ave Reading by Type,Ave % Passing Math by Type,Ave % Passing Reading by Type,Ave % Overall Passing by Type
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208